body {
    background: #f6f6f6;
    font-family: Roboto;
}
.header {
    background: lightgrey;
    height: 40px;
    padding-left: 150px;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    /*poprawnie - użyj flex box*/
}
.tile {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 340px;
    background: #ffff;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px darkgrey solid;
    font-size: 14px;
    margin: 20px;
}
.tile h4 {
    /*mogę dodawać po przecinkach wiele "elementów - jeśli style będą takie same"*/
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}
.tile-img {
    display: block;
    width: 200px;
}
.main {
    display: flex;
    height: calc(100vh - 40px);
    overflow: hidden;
}
.content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    overflow: auto;
}
.nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 150px;
}
.aside {
    background: whitesmoke;
    border-right: 1px solid darkblue;
}
.nav li, .nav li a {
    padding: 8px 5px;
    display: block;
    overflow: auto;
}
.nav li:hover{
        background: grey;
}
.totop {
    position: fixed;
    bottom: 0px;
    right: 15px;
    font-size: 14px;
}
.toggle {
    display: none;
}
